<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title><%= title %></title>
  <script src="/javascripts/angular.min.js"></script>

  <script src="/javascripts/bitmark_script.js"></script>
  <script src="/javascripts/moment.min.js"></script>
  <script src="/javascripts/angular-moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/twitter_core.bundle.css">
  <link rel="stylesheet" href="/stylesheets/twitter_more_1.bundle.css">
  <link rel="stylesheet" href="/stylesheets/twitter_more_2.bundle.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">

 <!-- load angular-moment -->
</head> <!-- dependencies -->
<body ng-controller="mainController">

<ng-include src="'/templates/navbar.ejs'"></ng-include> <!-- navbar -->

<div ng-show="wallet_status" style="display: inline-block; margin-top: 55px;">
  Your wallet address is <code>{{ wallet }}</code>, and you have <code>{{ balance }}</code> marks.
  <br />
  To increase your balance send Bitmarks (BTM) to your wallet address. <code>1 BTM = 1000 Marks.</code>
</div>

<div ng-if="profile_status" style="display: inline-block">
  <div style="margin-top:55px;"><br>
    <img style="display:block" ng-src="/uploads/{{data.username}}" width="400" height="400">
    <form style="display: inline-block" action="/uploads" method="post" enctype="multipart/form-data">
      <label for="file">To change profile picture choose file:</label><br>
      <input style="display: inline-block" type="file" name="upl" ng-model="file" id="file">
      <input class="btn btn-success" type="submit" name="submit" value="Submit">
    </form>
  </div>
</div> <!-- profile page -->

<div ng-show="home_status"  class="three-col logged-out Streams StreamsColor--orange"> <!-- Start home page -->

<div style="margin-top:55px; text-align: center;">
  <div style="width:900px; margin:0 auto;">
  <img ng-if="!selected_style" style="display: inline-block; border-radius: 50px;" ng-src="/uploads/{{data.username}}" width="80" height="80">
   <textarea ng-if="!selected_style" ng-click="$event.target.rows=4" ng-blur="$event.target.rows=1" ng-keyup="$event.keyCode == 13 && !$event.shiftKey && create($event);"
             ng-model="data.message" cols="50" rows="1" class="form-control" placeholder="What would you like to post {{data.username}}?" style="border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #DDDDDD;
    display: inline-block;
    margin: 2% auto;
    padding: 11px 20px 10px 70px;
    resize: none;
    border-radius: 50px;
    width: 500px;
    ">
   </textarea>
  </div><br />
 </div> <!-- post textarea -->

<ng-include src="'/templates/posts.ejs'"></ng-include> <!-- posts -->

<div style="margin-top:15px; margin-bottom:25px; text-align: center;">
  <div ng-class="post_status" style="width:900px; margin:0 auto;">
    <img ng-if="selected_style" style="display: inline-block; border-radius: 50px;" ng-src="/uploads/{{data.username}}" width="80" height="80">
    <textarea cols="50" ng-if="selected_style" ng-click="$event.target.rows=4" ng-blur="$event.target.rows=1" ng-keyup="$event.keyCode == 13 && !$event.shiftKey && create($event);"
             ng-model="data.message" rows="1" class="form-control"
             placeholder="What would you like to reply {{data.username}}?" style="border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #DDDDDD;
    display: inline-block;
    margin: 2% auto;
    padding: 11px 20px 10px 70px;
    resize: none;
    border-radius: 50px;
    width: 500px;
    ">
    </textarea>
  </div>
 </div> <!-- reply textarea -->

<ng-include src="'/templates/replies.ejs'"></ng-include> <!-- replies -->

</div> <!-- End home page -->
</body>
</html>