html,body { height:100%; }
body { padding-top:0px; }
.btn { margin-bottom:20px; }

#column_container {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 100%;
}

#row_container {
    display: flex;              /* establish flex container */
    flex-direction: row;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    margin: 5px;
}

.box {
/*    width: 300px;*/
    margin: 5px;
    text-align: center;
}

.x {
    -webkit-box-sizing: initial;
    box-sizing: initial;

    float:left;
    position:relative;
    margin:0;
    padding:0;
    overflow:hidden;
    background:#CCC;
    border-radius:2px;
    border:solid 2px #FFF;
    transition: all .3s ease-out;
    cursor:pointer;
}
.x.medium {
    width:20px;
    height:20px;
}

.x.flop:hover{
    background:#BB3333;
    transform: rotate(90deg);
}

.x b{
    display:block;
    position:absolute;
    height:0;
    width:0;
    padding:0;
    margin:0;
}
.x.medium b {
    border:solid 10px rgba(255,255,255,0);
}

.x b:nth-child(1){
    border-top-color:#FFF;
    top:-2px;
}

.x b:nth-child(2){
    border-left-color:#FFF;
    left:-2px;
}
.x b:nth-child(3){
    border-bottom-color:#FFF;
    bottom:-2px;
}
.x b:nth-child(4){
    border-right-color:#FFF;
    right:-2px;
}